<mat-card class="forecast-card">
  <mat-card-title *ngIf="location">{{ location }}</mat-card-title>
  <mat-card-subtitle>{{ date | date: "dd/MM/yyyy" }}</mat-card-subtitle>
  <mat-slide-toggle
    *ngIf="!location"
    color="primary"
    [checked]="isDay"
    (toggleChange)="isDayToggle()"
  >
    {{ isDay ? "Day" : "Night" }}
  </mat-slide-toggle>
  <mat-card-content>
    <!-- pipe will subscribe to store to get unit -->
    <p>{{ forecast.temperature | temperatureUnitsPipe: temperatureUnits }}</p>
    <p>{{ forecast.description }}</p>
    <img src="{{ forecast.iconNumber | weatherIcon }} " />
    <div>
      <button *ngIf="location" mat-flat-button color="primary">View full forecast</button>
    </div>
  </mat-card-content>
</mat-card>
