<div fxFill [ngClass]="isDarkMode? 'dark-theme' : 'light-theme'" fxLayout="column">
  <app-toolbar></app-toolbar>
  <div fxLayoutAlign="end" class="toggle-area">
    <div>
      <div class="unit-toggle"fxLayoutGap="10px">
        <span fxFlexAlign="start">
          Temperature Units: {{ isCelsius ? "C" : "F" }}
        </span>
        <mat-slide-toggle
          color="primary"
          [checked]="isCelsius"
          (toggleChange)="unitsChange()"
        >
        </mat-slide-toggle>
      </div>
      <div class="unit-toggle" fxLayoutAlign="end" fxLayoutGap="10px">
        <span fxFlexAlign="start">
          Switch Theme
        </span>
        <mat-slide-toggle
          color="primary"
          [(ngModel)]="isDarkMode"
        >
        </mat-slide-toggle>
      </div>
    </div>
  </div>
  <div class="content">

    <router-outlet></router-outlet>
  </div>
</div>
