<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <div fxLayout="row" fxLayoutAlign="center">
      <div>Favorite Locations Forecast</div>
    </div>
    <div
    fxLayout="row wrap"
    fxLayout.lt-xs="column"
    fxLayoutAlign="space-around"
    >
    
      <ng-container *ngFor="let location of favoritesForecasts$ | async">
        <app-day-forecast-card
          [location]="location.name"
          [id]="location.id"
          [forecast]="{
            temperature: location.temperature,
            description: location.description,
            iconNumber: location.iconNumber
          }"
        ></app-day-forecast-card>
      </ng-container>
    </div>
  </div>
</div>
