.mat-autocomplete-panel.mat-autocomplete-visible{
    background-color: #fff !important;
}

::ng-deep .cdk-overlay-pane {
    background-color: #fff !important;
    opacity: 100 !important;

}

mat-label{
    font-size: 22px ;
    color: black ;
}

.snackBar{
    background-color: salmon;
    font-size: 20px;
}

mat-form-field{
    font-size: 16px;
}